{% comment %}  CHRIS: Start Back to collection button {% endcomment %}
<div class=”baeckbutton”>
<a class ="testior" href="/collections/leggings">ZURÜCK ZU LEGGINGS & SETS</a>
</div>

<style>
.baeckbutton {
margin-top: 100px;
background-color: green;
}

.testior{

display: block;
text-decoration: none;
text-align: center;
color: currentcolor;
border:1px;
border-style: solid;
border-color: #121212;
font-size: 12px;
padding: 10px 8px;
width: 50%;
}
</style>
{% comment %}  CHRIS: Ende Back to collection button {% endcomment %}