.our-logo-container .heading {
    color: var(--Black, #000);
    text-align: center;

    /* H2/Light */
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
}

.our-logo-container .brand-heading {
    margin-bottom: 48px;
}

.our-logo-container .brands-lists {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    gap : 40px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our-logo-container .brands-lists li {
    line-height: 0;
    display: flex;
    justify-content: center;
}



@media (max-width : 1024px) {
    .our-logo-container .brands-lists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }
}

@media (max-width : 768px) {
    .our-logo-container .brands-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        gap :24px;
    }

    .our-logo-container .brand-heading {
        margin-bottom: 32px;
    }

    .our-logo-container .heading {
        font-family: Petrona;
        font-size: 30px;
        font-weight: 700;
        line-height: 33.84px;
        text-align: center;
    }
}

@media (max-width : 560px) {
    .our-logo-container .brands-lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        gap :24px;
    }


    .our-logo-container .brands-lists .list-item {
        width: 100%;
    }

    .our-logo-container .brands-lists .list-item img {
        max-width: 100%;
    }


}