.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-icon) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}


.farbauswahl {
  display: flex;
  gap: 4px;
  z-index: 10;
}

.color-swatch {
  /* font-size: 0px; */
  text-align: center !important;
  border-radius: 40px !important;
  display: inline-flex !important;
  width: 24px !important;
  height: 24px !important;
  position: relative !important;
}

.color-swatch img {
  border-radius: 50%;
}

.sr-only {
  display: none !important; /* Hide by default */
  position: absolute !important; /* Positioning */
  bottom: calc(100% + 15px) !important; /* Position above the swatch */
  left: 50% !important; /* Center the tooltip */
  transform: translateX(-50%) !important; /* Center it based on its width */
  background-color: white !important; /* Background color */
  color: black !important; /* Text color */
  padding: 5px 10px !important; /* Padding */
  border-radius: 6px !important; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important; /* Optional shadow */
  white-space: nowrap !important; /* Prevent text wrapping */
  z-index: 10 !important; /* Ensure it's above other elements */
}

.color-swatch.selected {
  outline: 1px solid #000 !important;
  outline-offset: 3px !important;
}

.sr-only:after {
  content: '' !important; /* Create the arrow */
  position: absolute !important; /* Position it */
  top: 100% !important; /* Position below the tooltip */
  left: 50% !important; /* Center it */
  transform: translateX(-50%) rotate(360deg) !important; /* Center it based on width and rotate */
  border-width: 5px !important; /* Arrow size */
  border-style: solid !important; /* Arrow style */
  border-color: white transparent transparent transparent !important; /* Arrow color */
}

.color-swatch:hover .sr-only {
  display: block !important; /* Show on hover */
}

