.font-h1 {
  color: #000;
  text-align: center;
  font-family: "Petrona", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.2px; /* 78% */
  letter-spacing: 0.6px;
}

.font-p1 {
  color: #121212;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.8px; /* 165% */
  letter-spacing: 0.6px;
}

.es-icon-with-text {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .page-width {
    .grid {
      background-color: var(--background-color);
      padding: 20px 80px;
      justify-content: space-between;

      @media (max-width: 768px) {
        padding: 20px;
        flex-wrap: wrap;
      }

      .grid__item {
        text-align: center;
        max-width: max-content;

        a {
          text-decoration: unset;
        }

        @media (max-width: 768px) {
          max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
          width: 100%;
        }

        .image {
          img {
            display: block;
            margin: auto;
          }
        }

        .content {
          margin-top: 18px;
        }
      }
    }
  }
}

@media (min-width: 990px) {
  sticky-header.header-wrapper {
    padding: 0 24px;
  }
}


body {
  #slidecarthq {
    .slidecarthq {
      top: 15px;
      height: calc(100% - 30px);
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.59);
      backdrop-filter: blur(8.5px);
      overflow: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none; 

      &.open {
        transform: translateX(-15px);

        @media (max-width: 767px) {
          transform: translateX(0);
        }
      }

      div[data-testid="TieredRewardsProgressBar"] {
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #000;
        border-radius: 5px; 

        .rewards-progress-bar {
          margin-top: 0;
          background-color: rgba(255, 255, 255, 0.4);

          .rewards-progress {
            background-color: #fff;
          }
        }
      }
    }

    .header {
      padding: 15px;
      background-color: #c8c8c8;
      position: sticky;
      top: 0;
      z-index: 99;

      h2,
      h2 * {
        color: var(--Dark-Grey, #121212) !important;
        font-family: 'Poppins', sans-serif !important;
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: normal !important;
        letter-spacing: 1px !important;
      }

      button {
        background-color: #fff;
      }

      .cart-count {
        display: none;
      }
    }

    .upsell-options {
      display: none;
      border-radius: 20px 20px 0px 0px;
      background: var(--Primary-Base-White, #FFF);
    
      &.active {
        display: block;
      }

      .upsell-options-header {
        border-radius: 8px;
        background: var(--Grey-light, #F3F3F3);
        padding: 8px 16px 8px 8px;

        h2 a {
          color: var(--Dark-Grey, #121212);
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        .price {
          color: var(--Dark-Grey, #121212);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.16px;
        }
      }

      .option {
        label {
          color: var(--Grey-90, #282828);

          /* Medium/Medium */
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        select {
          color: var(--Dark-Grey, #121212);
          font-family: Poppins;
          font-size: 12.444px;
          font-style: normal;
          font-weight: 500;
          line-height: 12.444px; /* 100% */
          letter-spacing: 0.889px;
        }
      }

      .button {
        border-radius: 35px;
        background: var(--Green-main, #8D9677);
        color: var(--White, var(--Primary-Base-White, #FFF));
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
      }
    }

    .upsells {
      padding: 15px 15px 0;

      .upsell-item {
        padding: 8px;
        background-color: #FFF;
        border-radius: 8px;

        .upsell-text {
          h3 {
            a {
              color: var(--Dark-Grey, #121212);
              font-family: 'Poppins', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.5px;
            }
          }

          .upsell-text-prices,
          .upsell-text-prices * {
            color: var(--Dark-Grey, #121212);
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.16px;
          }
        }

        .upsell-add {
          button {
            border-radius: 35px;
            background: var(--Green-main, #8D9677);
            padding: 10px 21px;
            color: var(--White, var(--Primary-Base-White, #FFF));
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.5px;
          }
        }
      }
    }

    .footer {
      background: #fff;
      padding: 16px 16px 14px !important;

      .footer-row {
        border: 0;
        padding: 5px 0;

        * {
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        .slidecart-subtotal {
          color: var(--Dark-Grey, #121212);
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1px;
        }
      }

      button[name="checkout"] {
        border-radius: 35px !important;
        background: var(--Green-main, #8D9677);
        padding: 14px 40px;
        color: var(--White, var(--Primary-Base-White, #FFF));
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
      }

      &::before {
        content: unset;
      }

      .shipping-protection {
        padding: 16px;
        border-radius: 8px;
        background: var(--Grey-light, #F3F3F3);
        margin-bottom: 8px;

        .shipping-protection-title {
          color: var(--Dark-Grey, #121212);
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        .shipping-protection-description {
          color: #545454;
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        .price {
          color: var(--Dark-Grey, #121212);
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.16px;
        }
      }

      .shipping-protection input:checked + .slider {
        background-color: #8D9677;
      }
    }

    .rewards {
      background-color: #121212;
      padding: 10px 20px;
      gap: 0;
      position: sticky;
      top: 60px;
      z-index: 99;

      &:has(.rewards-post-unlock-text) {
        background: var(--Green-main, #8D9677);
      }

      .rewards-pre-unlock-text,
      .rewards-pre-unlock-text *,
      .rewards-post-unlock-text,
      .rewards-post-unlock-text * {
        color: var(--White, var(--Primary-Base-White, #FFF));
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.5px;
      }

      .rewards-pre-unlock-text,
      .rewards-post-unlock-text {
        display: flex;
        align-items: center;
        gap: 10px;

        &::before {
          content: url('https://cdn.shopify.com/s/files/1/0332/0640/3210/files/Frame_e90ffbba-f1c8-4851-8951-d800cf94f863.svg?v=1726055819');
          display: block;
        }
      }

      [data-testid="TieredRewardsProgressBar"] {
        .rewards-tiers-labels {
          display: none;
        }
      }
    }

    .items {
      padding: 15px 15px 0;
  
      .item {
        padding: 8px 16px 8px 8px !important;
        border-radius: 8px;
        background: var(--Primary-Base-White, #FFF);
  
        & + .item {
          margin-top: 8px;
        }

        .item-image-anchor {
          width: 84px;
          position: relative;

          img {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
  
        .main {
          .title,
          .title * {
            color: var(--Dark-Grey, #121212) !important;
            font-family: 'Poppins', sans-serif !important;
            font-size: 14px !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: normal !important;
            letter-spacing: 0.5px !important;
          }
  
          .properties-key-value {
            li,
            li * {
              color: #545454 !important;
              font-family: 'Poppins', sans-serif !important;
              font-size: 14px !important;
              font-style: normal !important;
              font-weight: 300 !important;
              line-height: normal !important;
              letter-spacing: 0.5px !important;
            }
          }
  
          .main-bottom {
            align-items: center;
  
            .price-discount-block {
              order: -1;
  
              .price {
                color: var(--Dark-Grey, #121212) !important;
                font-family: 'Poppins', sans-serif !important;
                font-size: 16px !important;
                font-style: normal !important;
                font-weight: 600 !important;
                line-height: normal !important;
                letter-spacing: 0.16px !important;
              }
            }
  
            .quantity-selector {
              button,
              input {
                border: 0 !important;
                color: var(--Grey-90, #282828) !important;
                font-family: 'Poppins', sans-serif !important;
                font-size: 16px !important;
                font-style: normal !important;
                font-weight: 500 !important;
                line-height: normal !important;
                letter-spacing: 1px !important;
              }
            }
          }
        }
      }
    }
  }
}

.ab-card .loox-rating span {
  line-height: 11px;
  display: block;
  margin-top: 3px;
}

.product.v2 .rnd-btn.selected {
  outline: 1px solid #000;
  outline-offset: 3px;
}
.product.v2 .mt-delivery-text .variant__label .stock-message {
  display: none;
}
.product.v2 .mt-delivery-text .variant__label .stock-message.active {
  display: block;
}

.search {
  .field {
    &::after,
    &::before {
      content: unset;
    }

    button {
      z-index: 2;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
    }

    .search__input.field__input {
      padding: 1.5rem 3rem 1.5rem 4rem !important;
      border-radius: 50px;
      border: 1px solid rgba(0, 0, 0, 0.25);

      &:focus {
        box-shadow: unset;
      }

      @media (max-width: 767px) {
        padding: 1.5rem 4rem 1.5rem 1.5rem !important;
      }
    }

    @media (max-width: 767px) {
      .search__button.field__button {
        left: unset;
      }
    }
  }
}

ss-product {
  .relative {
    width: 100%;

    .product__image-wrapper {
      width: 100%;
      display: block;
      max-width: unset;
    }
  }
}

.predictive-search {
  border-radius: 15px !important;
  background: rgba(255, 255, 255, 0.60);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(5px);

  .predictive-search__heading {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
  }
}

// .es-header__icon--search {
//   display: none;
// }

.es-header__icon--search + .search-modal__form {
  display: none;
}
.es-header__icon--search.open + .search-modal__form {
  display: block;
  position: absolute;
  transform: translateX(calc(-100% + 50px));
  max-width: 280px;
}

.es-search-form-close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    display: block;
  }
}

#compare_modal {
  scroll-margin-top: 150px;
}

@media (max-width: 767px) {
  .header__icon, .header__icon--cart .icon {
    width: 3.4rem;
    height: 3.4rem;
  }

  predictive-search {
    .field__label {
      display: none;
    }
  }
}