.new-collapsible-content-container {
    background-color: #8E9677;
    padding : 72px 0;
}

.new-collapsible-content-container .collapsible-content-wrapper-narrow {
    max-width: 1000px;
    display: grid;
    gap : 40px;
    grid-template-columns: calc(40% - 20px) calc(60% - 20px);
}

.new-collapsible-content-container .collapsible-content__heading {
    color: var(--White, var(--Primary-Base-White, #FFF));
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
}

.new-collapsible-content-container .accordion {
    margin-bottom: 16px;
}

.new-collapsible-content-container .accordion > details > summary {
    background: white;
    padding: 16px;
    border-radius: 10px;
}

.new-collapsible-content-container .accordion > details > summary .accordion__title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-decoration: none!important;
    max-width: 100%;
}

.new-collapsible-content-container .accordion__content {
    margin-bottom: 0;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    margin-top: 2px;
}



@media (max-width : 768px) {
    .new-collapsible-content-container .collapsible-content-wrapper-narrow {
        grid-template-columns: 1fr;
        gap : 24px;
    }

    .new-collapsible-content-container .collapsible-content__heading {
        margin-bottom: 0;
    }

    .new-collapsible-content-container .accordion {
        margin-top: 0;
    }

    .new-collapsible-content-container {
        background-color: #8E9677;
        padding : 0 0;
    }
}